@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: mintcream;
}

h3 {
  border-bottom: 1px solid rgb(190, 190, 190);
  margin: 2rem 0;
  text-transform: uppercase;
  color: rgb(95, 95, 95);
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-top: 0.5rem;
}

.navbar ul li {
  margin-right: 0.6rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

/* Title / "logo" */

.keeper {
  font-weight: 400;
  display: inline-block;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: rgb(92, 179, 135);
  color: #fff;
  font-weight: 200;
}

.container {
  margin: 2rem 3rem;
}

.top {
  display: flex;
  justify-content: center;
}

.top .balance {
  margin-right: 10%;
}

.inc-exp-container {
  display: flex;
  background: rgb(255, 255, 255);
  box-shadow: rgba(84, 84, 95, 0.25) 0px 2px 5px -1px,
    rgba(54, 54, 54, 0.3) 0px 1px 2px -1px;
  padding: 2rem;
}

.inc-exp-container > div {
  padding: 0 1.5rem;
}

.inc-exp-container .income {
  border-right: 1px solid rgb(202, 200, 200);
}

.balance {
  background: rgb(255, 255, 255);
  box-shadow: rgba(84, 84, 95, 0.25) 0px 2px 5px -1px,
    rgba(54, 54, 54, 0.3) 0px 1px 2px -1px;
  padding: 2rem;
}

.list li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.6rem;
  margin: 1rem 0;
  background: rgb(255, 255, 255);
  box-shadow: rgba(84, 84, 95, 0.25) 0px 2px 5px -1px,
    rgba(54, 54, 54, 0.3) 0px 1px 2px -1px;
}

.form-control {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

label {
  margin-right: 0.6rem;
}

input {
  padding: 0.4rem;
  border: 1px solid rgb(207, 206, 206);
  max-width: 50%;
}

input:first-of-type {
  margin-bottom: 1rem;
}

input:focus {
  outline: none !important;
  border: 2px solid rgb(69, 141, 119);
}

.add-btn {
  width: 50%;
  display: block;
  margin-top: 1rem;
  padding: 0.6rem;
  border: none;
  color: #fff;
  background-color: rgb(92, 179, 135);
  border-radius: 5px;
}

.add-btn:hover {
  color: rgb(92, 179, 135);
  background-color: mintcream;
  border: 1px solid rgb(92, 179, 135);
}
